#main_login {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        color: #18959E;
    }

    form {
        display: flex;
        flex-direction: column;

        input {
            padding: 1rem;
            width: 24rem;
            border-radius: 5px;
            border: none;
            margin: 1rem;
            background: lightblue;
            font-size: 1rem;
        }

        button {
            
            margin: 2rem 0;
  background-color: #18959E;
  color: #ffffff;
  padding: 18px 116px;
  border-radius: 12px;
  text-decoration: none;
  text-align: center;
  border: none;
  cursor: pointer;
        }
    }
}

.circle {
    position: fixed;
    z-index: -1;
    width: 35rem;
    height: 35rem;
    border-radius: 50%;
    background-color: #eaeaea;
  }