#BillsOfDash {
  width: 666px;
  height: 156px;
  border-radius: 23px;
  border: 1px solid #18959e;
  display: flex;
  margin: 5vw auto;
  box-shadow: 1px 2px 4px 1px #00000040;

  #topmegamenu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;

    .megamenuLinks {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid #10bbca;
      font-weight: 900;
      font-size: 20px;

      p {
        margin-left: 1rem;
        font-family: Inter;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
      }
      svg {
        font-size: 29px;
      }
    }
    #Option1 {
      border: none;
      svg {
        color: #10bbca;
      }
    }
    #Option2 {
      border-top: none;
      border-bottom: none;
      color: #444343;
      svg {
        color: #10bbca;
      }
    }
    #Option3 {
      border: none;
      color: #444343;
      border-radius: 0 20px 0 0;
      svg {
        color: #10bbca;
      }
      background-color: #18959e;
      p {
        color: white !important;
      }
      svg {
        color: #e0d610 !important;
      }
    }
    #Option4 {
      border: none;
      border-top: 2px solid #18959e;
      color: #444343;
      svg {
        color: #10bbca;
      }
    }
    #Option5 {
      border: none;
      border-left: 2px solid #18959e;
      border-top: 2px solid #18959e;
      border-right: 2px solid #18959e;
      color: #444343;
      svg {
        color: #10bbca;
      }
    }
    #Option6 {
      border: none;
      border-top: 2px solid #18959e;
      color: #444343;
      svg {
        color: #10bbca;
      }
    }
  }
}

#middlebillsdata {
  display: flex;
  flex-direction: column;
  align-items: center;

  #searchbarsda {
    width: 666px;
    height: 58px;
    border-radius: 100px;
    display: flex;
    margin: auto;
    margin-bottom: 2rem;
  }

  #headofbk {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
    p {
        margin: 0 4rem;
    }
  }
  #listingbills {
    display: flex;
    width: 666px;
    height: 70px;
    border-radius: 10px;
    border: 1px solid #048aa3;
    margin: 0.5rem;
    justify-content: space-around;
    align-items: center;
  }
}
