#secondbtn {
  width: 644px;
  height: 75px;
  padding: 24px 32px 24px 32px;
  border-radius: 12px;
  gap: 10px;
  background-color: #18959e;
  color: white;
  text-align: center;

  font-weight: 500;
  font-size: 24px;
  line-height: 29.05px;
  border: none;
  transition: all 0.4s;
  cursor: pointer;

  &:hover {
    background: white;
    color: #016e82;
    transform: scale(1.02);
    border: 1px solid #016e82;
  }
}

#thirdbtn {
  width: 458px;
  height: 49px;
  border-radius: 174px;
  border: none;
  background-color: #016e82;
}
