#StartBook {
  display: flex;
  flex-direction: column;

  svg {
    position: relative;
    width: 371px;
    height: 188px;
    margin: auto;
    margin-top: 108px;
    background: url(image.png);
  }

  div {
    position: relative;
    width: 624px;
    padding: 3rem 0;
    //   height: 322px;
    margin: auto;
    background: #ffffff;
    border: 2px solid #016e82;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-top: 76px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;

    h2 {
      font-family: "Camaro";
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 2rem;
    }

    input {
      margin: 0 83px;
      width: 458px;
      height: 49px;
      padding: 1vw;
      background: #ffffff;
      border: 1px solid #9e9e9e;
      box-shadow: 1px 1px 2px 1px rgba(116, 116, 116, 0.25);
      border-radius: 5px;
      margin-bottom: 1rem;
    }

    button {
      width: 458px;
      height: 49px;
      margin: auto;
      border-radius: 174px;
      margin: 1rem auto;
      font-family: "DM Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 23px;
      align-items: center;
      color: #ffffff;
      cursor: pointer;

      border: none;
      background-color: #016e82;
      transition: 0.2s all;

      &:hover {
        transform: scale(1.05);
        background: white;
        border: 1px solid #016e82;
        color: #016e82;
      }
      &:active {
        transform: scale(1);
        background: #016e82;
        color: white;
      }
    }
  }
}

.input-container {
  position: relative;
  display: inline-block;
}
.suggestions {
  list-style: none !important;
  width: 458px;
  margin: auto;
  border-radius: 4px;
  border: 1px solid #cccccc;
  margin: 0.1vw auto;
  li {
    border-bottom: 1px solid #cccccc;
    padding: 0.8vw;
    display: flex;
    justify-content: space-between;
    padding-right: 30%;
    padding-left: 5%;
  }
}

.input-container .suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  background-color: #ffffff;

  padding: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  border-radius: 4px;
}

.input-container .suggestion-item {
  padding: 8px;
  cursor: pointer;
}

.input-container .suggestion-item:hover {
  background-color: #f2f2f2;
}
