#checkoutsec {
  #TopHeader {
    position: relative;
    width: 100%;
    height: 12vh;
    left: 0px;
    top: 0px;

    background: linear-gradient(180deg, #13c4d2 0%, #048aa3 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 100px 100px;

    display: flex;
    align-items: center;

    div > svg {
      margin-left: 3vw;
      font-size: 4vw;
      color: white;
    }
    #lastRes {
      margin-right: 7vw;
    }
    h1 {
      text-align: center;
      display: flex;
      margin: auto !important;
      margin-right: 3vw;
      color: white;
      font-weight: 300;
    }
  }

  #Cus {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3.5vw 0;
    svg {
      width: 25px;
      height: 25.066667556762695px;
      top: 184px;
      left: 138px;
      border: 2.5px;
    }
    #customer {
      font-size: 26px;
      font-weight: 600;
      margin: 0 2vw;
    }
    #nameContFeil {
      font-weight: 500;
      font-size: 24px;
      // letter-spacing: 0.1rem;
    }
  }

  #buttonsforcheckout {
    display: flex;
    justify-content: center;
    margin: 2.5rem 0;
    margin-bottom: 3.5rem;
    button {
      margin: 0 1rem;
      width: 146px;
      height: 41px;
      top: 266px;
      left: 206px;
      background-color: #18959e;
      border: none;
      border-radius: 100px;
      font-family: Inter;
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0em;
      cursor: pointer;
      color: #fbfcff;
      transition: all 0.3s;
      box-shadow: 1px 1px 5px 1px #00000040;

      &:hover {
        transform: scale(1.05);
        background: transparent;
        border: 2px solid #048aa3;
        color: #048aa3;
        box-shadow: 1px 1px 5px 1px #00000040;
      }
    }
  }

  #toplinescheck {
    // border-bottom: 1px solid #048aa3;
    width: 744px;
    margin: auto;
    padding: 1rem;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;

    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 0;

    #firsttoplinech {
      flex-basis: 30%;
      font-family: Inter;
      font-size: 20px;
      font-weight: 600;
      line-height: 24px;
    }
    #ndtoplinech {
      flex-basis: 20%;
      display: flex;
      justify-content: center;

      font-family: Inter;
      font-size: 20px;
      font-weight: 600;
      line-height: 24px;
    }
    #rdtoplinech {
      flex-basis: 15%;
      display: flex;
      justify-content: center;

      font-family: Inter;
      font-size: 20px;
      font-weight: 600;
      line-height: 24px;
    }
    #thtoplinech {
      flex-basis: 20%;
      display: flex;
      justify-content: center;

      font-family: Inter;
      font-size: 20px;
      font-weight: 600;
      line-height: 24px;
    }
    #afdsasdfdssd {
      visibility: hidden;
    }
  }

  #ordersSec {
    #OrderCHeck {
      #firstrowCheck {
        display: flex;
        width: 744px;
        margin: auto;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1rem;
        #deletesubserv {
          svg {
            font-size: 1.3rem;
            color: red;
          }
        }
        p {
          flex-basis: 30%;
          font-weight: 600;
          font-size: 3vw;
          font-family: Inter;
          font-size: 20px;
          font-weight: 500;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: left;
        }
        #incdec {
          flex-basis: 20%;
          display: flex;
          width: 100px;
          height: 45px;
          border-radius: 50px;
          border: 2px solid #18959e;
          color: #18959e;
          justify-content: center;
          margin: 0 1rem;
          align-items: center;

          div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 70px;
            height: 36px;

            font-family: Inter;
            font-size: 20px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0em;

            span {
              margin: 0 1rem;
              margin-top: 0.3rem;
            }
            button {
              background-color: transparent;
              border: none;
              font-family: Inter;
              font-size: 30px;
              font-weight: 500;
              line-height: 36px;
              letter-spacing: 0em;
              color: #18959e;
              cursor: pointer;
            }
          }
        }
        #rdPrice {
          flex-basis: 15%;
          display: flex;
          justify-content: center;
          p {
            font-family: Inter;
            font-size: 20px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
          }
        }
        #thtotalprice {
          flex-basis: 20%;
          display: flex;
          justify-content: center;
          p {
            font-family: Inter;
            font-size: 20px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
          }
        }
      }

      border: 1px solid #009fbb;
    }
    #totalwithgst {
      float: right;
      margin: 1rem;
      margin-right: 1.5rem;
      width: 272px;
      padding: 0.5rem;
      background-color: #ebebeb;

      #totalwithgstF1 {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #a3a3a3;
        div {
          display: flex;
          justify-content: space-around;
          margin: 1rem;
          font-family: Inter;
          font-size: 18px;
          font-weight: 500;
          line-height: 22px;
        }
      }
      #totalwithgstF2 {
        display: flex;
        justify-content: space-around;
        margin: 1rem;

        #fspanoftgst {
          font-family: Inter;
          font-size: 23px;
          font-weight: 600;
          line-height: 29px;
        }
        #sspanoftgst {
          font-family: Roboto;
          font-size: 25px;
          font-weight: 700;
          line-height: 29px;
          color: #18959e;
        }
      }
    }
  }
}

#lastbtnscheck {
  background: white;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  // border-top: 1px solid gray;
  box-shadow: 3px 1px 4px 3px #00000040;
}

#belowFirstrowCheck {
  width: 744px;
  display: flex;
  padding: 0 1rem 1rem 1rem;
  margin: auto;
  align-items: center;
  button {
    flex-basis: 20%;
    width: 113px;
    height: 32px;
    border-radius: 2px;
    background-color: #18959e;
    border: none;
    color: white;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
  }
  span {
    margin-left: 2rem;
    text-align: right;
    flex-basis: 30%;
    width: 199px;
    height: 19px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: #18959e;
  }
}

#firstbtn {
  width: 255px;
  height: 61px;
  border-radius: 50px;
  background-color: #18959e;
  color: white;

  border: none;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  transition: all 0.3s;
  &:hover {
    transform: scale(1.03);
    background: transparent;
    color: #18959e;
    border: 1px solid #18959e;
  }
}

#secondCheck > .overlay > .content > .service-details {
  #topLayerForSerBook {
    h1 {
      color: #18959e;
      font-family: Inter;
      font-size: 30px;
      font-weight: 600;
      line-height: 36px;
    }
  }
  #middleFetchedData {
    display: flex;
    flex-direction: column;

    #newmidfddiv {
      width: 620px;
      border-radius: 5px;
      border: 1px solid #9a9a9a;
      display: flex;
      margin: 0.6rem;
      align-items: center;
      justify-content: space-between;
      #f1midfd {
        display: flex;

        img {
          width: 109px;
          height: 112px;
          border-radius: 5px;
          object-fit: cover;
          margin-right: 1.2rem;
        }
        #s1midfd {
          display: flex;
          flex-direction: column;
          justify-content: center;

          p {
            font-family: Inter;
            font-size: 24px;
            font-weight: 600;
            line-height: 29px;
            margin: 0.4rem 0;
          }
          span {
            font-family: Inter;
            font-size: 18px;
            font-weight: 500;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: left;
            margin: 0.4rem 0;
          }
        }
      }

      #f2midfd {
        font-family: Inter;
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0em;

        margin-right: 1rem;
      }
    }
  }
}
.selected {
  background-color: #18959e;
  color: white;
}

#productDIvSC {
  margin: 0.4rem;
  width: 644px;
  top: 135px;
  border-radius: 5px;
  border: 1px solid #9a9a9a;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;

  h3 {
    font-family: Inter;
font-size: 20px;
font-weight: 600;
line-height: 20px;

  }
  #divscf2 {
    width: 83px;
    height: 46px;
    padding: 12px 12px 12px 17px;
    border-radius: 6px;
    border: 2px solid #bfbfbf;
    gap: 10px;
  }
  #divscf1 {
    display: flex;
    flex-direction: column;
    #childofdivsc {
      display: flex;
      margin: 0.3rem 0;
      color: gray;
      p {
        margin: 0 1rem 0 0;
      }
    }
  }
}
